*
  margin: 0
  padding: 0
  box-sizing: border-box

  font-family: "Roboto"
  font-weight: bold
  font-size: 40pt

html
  height: 100%

body
  background-color: black
  color: white
  height: 100%
  display: grid

  #TimeUi
    align-self: center
    justify-self: center

    display: grid
    grid-template-columns: 160px 20px 160px 80px
    grid-template-rows: 50px 80px 50px
    grid-template-areas: "HoursUp . MinutesUp ." "Hours Colon Minutes AmPm" "HoursDown . MinutesDown ."
    align-items: center
    justify-items: center

    #HoursUp
      grid-area: HoursUp

    #Hours
      grid-area: Hours

    #HoursDown
      grid-area: HoursDown

    #Colon
      grid-area: Colon

    #MinutesUp
      grid-area: MinutesUp

    #Minutes
      grid-area: Minutes

    #MinutesDown
      grid-area: MinutesDown

    #AmPm
      grid-area: AmPm
      font-size: 17pt
      align-self: start

.btn
  border: 1px solid white
  border-radius: 99999999px
  padding: 3px
  font-size: 14pt
  transition: .3s
  min-width: 70px
  text-align: center

.btn:hover
  background-color: white
  color: black

